/* Staff list styling */

/* Emulate h4 appearance. */
.view-id-staff table caption {
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  color: #036;
  font-family: 'Droid Sans','Helvetica Neue',Arial,sans-serif;
}

.view-id-staff .views-field-title {
  width: 30%;
  min-width: 160px;
}

.view-id-staff .views-field-field-staff-position {
}

.view-id-staff .views-field-field-staff-phone {
  width: 20%;
  min-width: 130px;
}

.view-id-staff .views-field-field-staff-room {
  width: 15%;
  min-width: 95px;
}
