[submodule "themes/custom/unimelb"]
	path = themes/custom/unimelb
	url = git@github.com:web-arts-unimelb/unimelb.git
[submodule "themes/custom/admin_unimelb"]
	path = themes/custom/admin_unimelb
	url = git@github.com:web-arts-unimelb/admin_unimelb.git
