[submodule "themes/custom/unimelb"]
	path = themes/custom/unimelb
	url = git@github.com:web-arts-unimelb/unimelb.git
[submodule "themes/custom/admin_unimelb"]
	path = themes/custom/admin_unimelb
	url = git@github.com:web-arts-unimelb/admin_unimelb.git
[submodule "libraries/flexslider"]
	path = libraries/flexslider
	url = git://github.com/woothemes/FlexSlider.git
[submodule "modules/custom/insert_video"]
  path = modules/custom/insert_video
  url = http://git.drupal.org/project/insert_video.git
[submodule "modules/custom/askunimelb_widgets"]
	path = modules/custom/askunimelb_widgets
	url = git@github.com:web-arts-unimelb/askunimelb_widgets.git
