/* Override the admin menu font size regardless of theme. */
.html #admin-menu {
  font-size: 1em;
}

/* Mess with webform inline label alignments. */
.webform-container-inline.foa-webform-inline-label label {
  display: inline-block;
  width: 150px;
}

.webform-container-inline.foa-webform-inline-label div.description {
  margin-left: 168px;
}

div.foa-webform-inline-label {
	/* We don't need to dots any more */
  /* border-bottom: 1px dotted #264e82; */
}

form.webform-client-form .form-actions {
  margin-left: 168px;
  margin-top: 2em;
}

/* Start new project remedy form */
form#webform-client-form-1919 div.form-actions {
	margin-left:0;
}

table.service_table {

}

table.service_table td {
	width: 144px;
}

table.service_table p.yes {
	color: #008000;
  text-align: center;
}

table.service_table p.no {
  color: #FF0000;
  text-align: center;
}

table.service_table p.the_text {
  text-align: center;
}

table.service_table td.highlight {
  background-color: #DADADA;
}

table.service_table tr.services {
	background-color: #DADADA;
}

table.service_table span.highest {
    font-weight: bold;
    margin-left: 5px;
}

table.service_table span.lowest {
    color: #808080;
    float: right;
    font-weight: bold;
    margin-right: 5px;
}
/* End new project remedy form */
